*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; /*padrão por enquanto*/
}

a {
    text-decoration: none;
}


  
  /*  
    padrão 16 => calculo 16 * (porcentagem) => 0,9375 = 15px
    rem utiliza o font size da aplicação 
  */
